*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
}
body{
  font-family: Arial, sans-serif;
  height: 100vh;
  background-color: black ;
}

header {
  color:white;
  width: 100%;
}

.menu{
  font-size: 30px;
  color: white;
  cursor: pointer;
  display: none;
  position: absolute;
  right: 7%;
}

#check{
  right: 7%;
  position: absolute;
  height: 45px;
  width: 40px;
  display: none ;
}


.container {
  display: flex;
  height: 12vh;
  width: 100%;
  align-items: center;
  position: fixed;
  z-index: 1000;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 5px;

}

.logo {
  display: flex;
  align-items: center;
  gap: 1px;

}

.logo img {
  margin-left: 20px;
  width: 60px;
    height: 40px;
    margin-top: 5px;

}

.logo a {
  text-decoration: none;
  font-size: 25px;

font-weight: bold;
  color: white;
}


nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-left: 60px; 
}
nav ul{
  display: flex;
  list-style: none;
  gap: 20px;
}


nav a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  transition: color 0.8s ease;
}

nav a.active,nav a:hover {
  color: rgb(96, 159, 226);
}



.extra-nav {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 100px;
}

.extra-nav a {
  text-decoration: none;
  font-size: 16px;
  color: #fcfbfb;
}
#cart-icon{
  font-size: 25px;

}
.extra-nav a:hover{
  color:rgb(96, 159, 226) ;
  
}

.extra-nav button {
  background-color: #518dbb;
  color: #fff;
  border: none;
  padding: 10px  15px;
  border-radius: 10px;
  
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s ease;
}

.extra-nav button:hover {
  background-color: rgb(25, 22, 23);
  padding: 10px 30px 10px 15px;
color: rgb(244, 237, 237);
}
















  .main {
    display: flex;
    width: 100%;
    height: 100%; 
  }
  
  .FAQ {
    display: flex;
    align-items: center;
  }
  
  .main p {
    position: relative;
    color: white;
    font-size: 30px;
    z-index: 2;

  text-shadow: 5px -3px 4px black,
  5px -3px 4px black,
  5px -3px 6px black,
  5px -3px 10px black,
  5px 3px 12px black,
  5px 3px 14px black
  ;
margin-left: 10px;
  }
  
  .main img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  
  
  
  
  
  
  
  




.FAQ-topic{
  color: white;
  font-size: 20px;
  padding: 20px;
  margin: 25px;
  box-shadow: 4px 4px 4px #245974,
   4px 4px 6px #031e2c,
   4px 4px 8px #112b38;
  
  
}


.faq {
    margin-bottom: 40px;
}

.faq h3 {
    margin: 20px;
    text-align: center;

    padding: 10px;
    background-color:rgb(50, 69, 83);
    color: #fff;
    cursor: pointer;
    border-radius: 4px;



    box-shadow: 4px 4px 4px #346e8d,
   4px 4px 6px #031e2c,
   4px 4px 8px #112b38;

   animation: animate 3s ease-in-out infinite;
  }

  @keyframes animate {
    0%, 100% {
      box-shadow: 4px 4px 4px #337084,
      4px 4px 6px #031e2c,
      4px 4px 8px #12242e;
   
    }
    50% {
      box-shadow: 4px 4px 4px #672862,
      4px 4px 6px #ad4fad,
      4px 4px 8px #43738b;
   
    }
    70%{
      box-shadow: 4px 4px 4px #d70d0d,
      4px 4px 6px #aa3b33,
      4px 4px 8px #d02613;
   
    }
  }


.faq p {
  text-align: center;

    margin: 10x;
    padding: 10px;
    display: none;
    background-color: #f0f0f0;
    border-radius: 4px;
}

.faq h3:hover {
    background-color: black;
}
  
.contact{
  outline: none;
  margin: 20px;
  display: flex;
  justify-content: center;
  
}
.contact h2{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

}

.contact button {
  font-size: 17px;
  color:white;
  padding: 10px 25px;
  border-radius: 10rem;
  background-image: linear-gradient(rgb(92, 25, 110), #346e8d);
  border: 2px solid rgb(50, 50, 50);
  border-bottom: 5px solid rgb(50, 50, 50);
  box-shadow: 0px 1px 6px 0px rgb(137, 112, 219);
  transform: translate(0, -3px);
  cursor: pointer;
  transition: 0.2s;
  animation: animate 3s ease-in-out infinite;
  height: 90px;
  width: 150px;
  margin-left: 68px;
}



footer {
  background: #111;
  color: #b8b6b6;
  text-align: center;
  padding: 14px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
  
  
@media (max-width:992px) {
  .container {
    padding: 40px;
  }
  
}
@media (max-width:824px) {
  .menu{
   display: inline-flex;
  }
  #check:checked ~ .menu #menu-icon{
    display: none;

  }
  #close-icon{
    display: none;
  }
  #check:checked~ .menu #close-icon{
    display: block;

  }
  nav  {

    position: absolute;
    top: 100%;
    left: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    transition: 0.3 ease;
    overflow: hidden;
  }
  nav ul{
    display: flex;
    flex-direction: column;

  }
  

  #check:checked~nav{
    height: 300px;
    width: 767px;
  }
  nav a {
    display: flex;
    margin: 25px;
    margin-left: 30px;
    transition: 0.3s ease;
  }
}

@media screen and (max-width:768px){
  .main p {
    font-size: 25px;
    margin: 15px;
  }


  .faq h3 {
    font-size: 16px;
    margin: 10px;
  }

  .faq p {
    font-size: 14px;
    background-color: black;
    color: white;
  }
  .contact h2{
    font-size: 20px;
  }

  .contact button {
    width: 120px;
    height: 70px;
    font-size: 15px;
  }
}

@media screen and (max-width:480px){
.main p {
  font-size: 27px;
  margin: 10px;
  width: 100px;
}
.main img {
  position: absolute;
  width: 600px;
  height: 700px;
  z-index: 0;
  transform: translateY(40px);
}

.FAQ-topic {
  font-size: 18px;
  padding: 15px;
  margin: 15px;
}

.faq h3 {
  font-size: 16px;
}

.faq p {
  font-size: 14px;
}


}

  
  
  
  
  